<h1 class="title">About</h1>
<p class="quote">Education is the key to unlock the golden door of freedom.</p>
<p class="quote">~George Washington Carver</p>

<p>Eduction is important and knowing your rights is a important part of that. We believe everyone should have access to this information, that's why we offer you this site and resources free of charge. Running this site however is not free. If you would like to help keep this site running and make it better there are two ways you can help do this. The first is to lend us your mind, if you come accross any issues on the site or have suggestions to make it better you can open a issue or send a pull request to us on <a href="https://github.com/Mkoopajr/ilconstitution" target="_blank">Github</a>, or send us a <a href="mailto:mkoopajr@gmail.com?Subject=Issue%20ilconstitution.com">email</a>. The second way you can help is a donation, we accept these through <a href="https://gratipay.com/Mkoopajr/" target="_blank">Gratipay</a>.</p>

<h2 class="title">Future Plans</h2>

<p>We would like to get better hosting and database managament to add user accounts, social media integration, and statistical analysis (average scores, commonly missed questions, etc).</p>
